<!DOCTYPE html>

<html ng-app="KittiesShelter">
	<head>
		<title>Kitties App!</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Crafty+Girls" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/KittiesController.js"></script>
	</head>

	<body>
    <section ng-controller="KittiesController as kittiesVm">
      <div class="left-container">
        <h1>Kitties for Adoption</h1>
        <ul ng-repeat="kitty in kittiesVm.kitties | filter: {adopted: false}" ng-bind="kittiesVm.moveAdopted()">
          <li class="dashed" > <strong>My name is: {{kitty.catName}}</strong> <br> I am {{kitty.monthsOld}} <br> I am a {{kitty.gender}} <br> <img ng-src="{{kitty.image}}" alt="kitty"> <br> Adopt? <input type="checkbox"> </li>
        </ul>
      </div>

      <div class="right-container">
        <h1>At their forever homes! </h1>
        <ul ng-repeat="kitty in kittiesVm.kitties | filter: {adopted: true}" ng-bind="kittiesVm.moveAdopted()">
          <li class="dashed" > <strong>My name is: {{kitty.catName}}</strong> <br> I am {{kitty.monthsOld}} <br> I am a {{kitty.gender}} <br> <img ng-src="{{kitty.image}}" alt="kitty"> <br> Adopt? <input type="checkbox"> </li>
        </ul>
      </div>
    </section>

    <!--Sourcing Angular-->

		<!-- Source in module -->

		<!-- Source in controller -->

	</body>
</html>
